ray_results/
logs/
old/past_results_all_targets_tracked/
old/
**/old/
*.idea
*.pickle
*.pkl
*.pyc
token.txt
realistic_drone/
utils/library/**/cam1
utils/checkpoints
utils/checkpoints_logos
utils/library_logos
utils/mnist
utils/model_data
wandb/
pytorch_training_scripts/wandb/
env/checkpoints/
utils/heatmap_figures/
utils/saved_model/
utils/dataset_pedestrian_logos
utils/dataset_pedestrian_logos_old
utils/dataset_pedestrians_logos